# Build
build/
*.o
*.exe

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
DartConfiguration.tcl
*.cmake
!CMakeLists.txt

# Dependencies
node_modules/

# Python
__pycache__/
*.pyc
venv/

# Environment
.env
.env.local
.env.*.local

# IDE
# .vscode/
.idea/
*.swp
.cursor/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

.cache/
server/backend/server
client/backend/client
zipped_project.zip
